body {
    margin: 0;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;

    font-family: sans;
}

#synoptic {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#synoptic > .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#synoptic #selectors .container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#synoptic .tooltip {
    position:absolute;
    padding: 3px;
    background: black;
    opacity: 0.8;
    visibility: hidden;
    z-index: 100;
}

#synoptic .tooltip .label {
    color: white;
}

#synoptic .tooltip .value {
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

div.layer-selector {
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
    opacity: 0.5;
    color: black;
    font-weight: bold;
    background: #808080;
    border: 1px solid grey;
}

div.layer-selector.active {
    color: white;
    opacity: 1;
}

div.layer-selector.alarm {
    background: red;
}

.debug {
    display: none;
    color: white;
    pointer-events: none;
    position: absolute;
    padding: 5px;
    background: rgba(0,0,0,0.5);
}

#debug {
    top: 0px;
    left: 0px;
}

#debug2 {
    font-size: x-small;
    max-width: 50%;
    top: 0px;
    right: 0px;
}

#debug table {
    border-top: 1px solid white;
}

#debug table thead {
    font-weight: bold;
}

#debug * {
    font-size: small;
    color: white;
    line-height: 75%;
}