svg {
    /* width: 100%; */
    /* height: 100%; */
}

svg text {
    pointer-events: none;
    shape-rendering: optimizeSpeed;
}

svg text.attribute {
    pointer-events: visible;
}

/* fade out attributes that aren't being polled */
svg .attribute {
    opacity: 0.25;
}

svg .device {
    fill: rgb(128,128,128);
    opacity: 0.5;
}

svg .device.active {
    opacity: 1;
}

svg .attribute.active {
    opacity: 1;
}

/* === Tango states === */

svg .status-UNKNOWN {
    stroke: white;
    fill: rgb(128,128,128) !important;
}

svg .state-INIT {
    fill: rgb(204,204,122) !important;
}

svg .state-DISABLE {
    fill: rgb(255,0,255) !important;
}

svg .state-STANDBY {
    fill: rgb(255,255,0) !important;
}

svg .state-ON, svg .state-OPEN, svg .state-EXTRACT {
    stroke: #808080;
    fill: #00FF00 !important;
}

svg .state-OFF, svg .state-CLOSE, svg .state-INSERT {
    stroke: grey;
    fill: white !important;
}

svg .state-FAULT {
    stroke: white;
    fill: red !important;
}

svg .state-RUNNING, svg .state-MOVING {
    fill: rgb(128,160,255) !important;
}

svg .state-ALARM {
    stroke: white;
    fill: rgb(255,140,0) !important;
}

/* only display "bad" statuses..? */
/* svg :not(.device).status-ON, :not(.device).status_RUNNING { */
/*     visibility: hidden !important; */
/* } */

/* device selection rectangle */
svg .selection {
    fill: grey;
    stroke: grey;
    stroke-width: 10px;
    stroke-linejoin: round;
    opacity: 0.5;
    pointer-events: none;
}

/* alarms */

@keyframes glow-red {
    0% { fill: rgba(255,0,0,255) !important }
    100% { fill: rgb(255,0,0); !important}
}

@-webkit-keyframes glow-red {
    0% { fill: rgba(255,0,0,255) !important }
    100% { fill: rgb(255,0,0); !important }
}

svg .alarm {
}

svg .alarm.active {
    /* stroke: red !important; */
    animation-name: glow-red !important;
    animation-duration: 0.5s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease-in-out !important;
    animation-direction: alternate !important;
    -webkit-animation-name: glow-red !important;
    -webkit-animation-duration: 0.5s !important;
    -webkit-animation-iteration-count: infinite !important;
    -webkit-animation-timing-function: steps(10, end) !important;
    -webkit-animation-direction: alternate !important;
}


/* no mouse interaction with inactive zoom levels */
g.zoom {
    pointer-events: none;
    display: none;
}

g.zoom.active {
    pointer-events: auto;
    display: inline;
}

svg .layer.selectable {
    display: none;
}

svg .layer.selectable.active {
    display: inline;
}

svg #background.layer {
    visibility: visible;
}

/* the symbols layer should not be visible to the user */
svg #symbols {
    display: none;
}

svg text {
    background: yellow;
}

#bookmarks {
    position: absolute;
    top: 0;
    right: 0;
}

/* #bookmarks button.add { */
/*     background-color: yellow; */
/* } */

#bookmarks div.bookmark {
    background-color: rgba(200,200,200,0.5);
    padding: 3px;
    margin: 2px;
    text-align: center;
}