body {
    margin: 0;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;

    font-family: sans;
}

#synoptic {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#synoptic > .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#synoptic #selectors .container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#synoptic .tooltip {
    position:absolute;
    padding: 3px;
    background: black;
    color: white;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}

div.layer-selector {
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
    opacity: 0.5;
    color: black;
    font-weight: bold;
    background: #808080;
    border: 1px solid grey;
}

div.layer-selector.active {
    color: white;
    opacity: 1;
}

div.layer-selector.alarm {
    background: red;
}
