svg {
    /* width: 100%; */
    /* height: 100%; */
}

svg text {
    pointer-events: none;
}

svg text.attribute {
    pointer-events: auto;
}

/* fade out attributes that aren't being polled */
svg .attribute {
    opacity: 0.25;
}

svg .device {
    fill: white;
    opacity: 0.5;
}

svg .device.active {
    opacity: 1;
}

svg .attribute.active {
    opacity: 1;
}

svg .status-UNKNOWN {
    stroke: white;
    fill: brown !important;
}

svg .status-OUT {
    stroke: #808080;
    fill: #FFFFFF  !important;
}

svg .status-IN {
    stroke: #808080;
    fill: #00FF00 !important;
}

svg .status-FAULT {
    stroke: white;
    fill: red !important;
}

/* only display "bad" statuses..? */
svg :not(.device).status-ON, :not(.device).status_RUNNING {
    visibility: hidden !important;
}

svg .status-RUNNING {
    stroke: #404040;
    fill: #00A000 !important;
}

svg .status-ON, .status-ON > * {
    stroke: #808080;
    fill: #00FF00 !important;
}

svg .status-OFF, status-OFF > * {
    stroke: white;
    fill: #303030 !important;
}

svg .status-ALARM {
    fill: #FF6000 !important;
}

/* device selection rectangle */
svg rect.selection {
    fill: grey;
    stroke: grey;
    stroke-width: 10px;
    stroke-linejoin: round;
    opacity: 0.5;
}

/* alarms */

@keyframes glow-red {
    0% { fill: rgba(255,0,0,255) !important }
    100% { fill: rgb(255,0,0); !important}
}

@-webkit-keyframes glow-red {
    0% { fill: rgba(255,0,0,255) !important }
    100% { fill: rgb(255,0,0); !important }
}

svg .alarm {
}

svg .alarm.active {
    /* stroke: red !important; */
    animation-name: glow-red;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: glow-red;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(10, end);
    -webkit-animation-direction: alternate;
}


/* no mouse interaction with inactive zoom levels */
.zoom {
    pointer-events: none;
    display: none;
}

.zoom.active {
    pointer-events: auto;
    display: inline;
}

svg .layer.selectable {
    display: none;
}

svg .layer.selectable.active {
    display: inline;
}

svg #background.layer {
    visibility: visible;
}

/* the symbols layer should not be visible to the user */
svg #symbols {
    display: none;
}

svg text {
    background: yellow;
}